* {
	margin: 0;
	padding: 0;
	font-family: "Varela Round", sans-serif;
}

/* global color variables */
:root {
	--main-text-color: #616161;
	--song-container-hover-text-color: #0d0d0d;
	--form-field-text: #6d7f9e;
	--form-field-color: rgb(232, 240, 254);
	--primary-color: #58a593;
	--primary-active-button-color: #306c5e;
	--delete-color: rgb(255, 59, 59);
}

p {
	margin-bottom: 0;
}

/* disable browser default styling */
input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.searchResultsPlaceholderText {
	color: var(--main-text-color);
}

/* fontawesome icon class for audio buttons */
.fa-input {
	font-family: FontAwesome, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.fa.fa-check {
	margin-left: 0.5rem;
}

/* placeholder text styling */
::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: var(--form-field-text);
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: var(--form-field-text);
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: var(--form-field-text);
}

.formsWrapper {
	position: fixed;
	width: 100%;
	z-index: 2;
	background-color: #383838;
	padding-top: 2rem;
	padding-bottom: 2rem;
	border-bottom: 0.2rem solid white;
	border-radius: 0px 0px 70px 70px;
	-moz-border-radius: 0px 0px 70px 70px;
	-webkit-border-radius: 0px 0px 70px 70px;
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
	transition: background-image 1s;
}

.form {
	background-color: white;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	width: 70%;
	max-width: 45rem;
	margin: 0 auto;
	border: 0;
	-webkit-box-shadow: 0px 0px 9px 1px #26262680;
	-moz-box-shadow: 0px 0px 9px 1px #26262680;
	box-shadow: 0px 0px 9px 1px #26262680;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}

.textFieldContainer {
	display: flex;
}

.button {
	flex: 1;
	margin: 0.25rem;
	padding: 0.5rem;
	border: 0;
	background-color: white;
	color: white;
	font-weight: bold;
	font-size: 0.8rem;
	cursor: pointer;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}

.songContainer:hover:has(.addToPlayListBtn:hover) {
	background-color: white;
}

#viewSearchPlayListBtn,
#viewCustomPlayListBtn {
	font-size: 1rem;
}

.addToPlayListBtn,
.standardButton {
	width: fit-content;
	padding: 0.25rem 0.5rem 0.2rem 0.5rem;
	margin-top: 1rem;
	color: var(--primary-color);
	border: 0.15rem solid var(--primary-color);
	background-color: white;
	cursor: pointer;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}

.addToPlayListBtn:hover {
	background-color: var(--primary-color);
	color: white;
}

.addToPlayListBtn:active {
	background-color: var(--primary-active-button-color);
	border-color: var(--primary-active-button-color);
	color: white;
}

.removeFromCustomPlayList {
	color: var(--delete-color);
	border-color: var(--delete-color);
}

.removeFromCustomPlayList:hover {
	background-color: var(--delete-color);
	border-color: var(--delete-color);
	color: white;
}

.secondary-button {
	color: var(--primary-color);
	border: 0.15rem solid var(--primary-color);
}

.secondary-button:hover {
	background-color: var(--primary-color);
	color: white;
}

.disable-button, .disable-button:hover {
	color: var(--primary-color);
	background-color: white;
	border: 0.15rem solid var(--primary-color);
	opacity: .50;
	cursor: default;
}

/* this class is added with js for active buttons (play/stop) */
.activeButton {
	background-color: var(--primary-color);
	color: white;
}

#artistName {
	color: var(--form-field-text);
	flex: 3;
	font-size: 1rem;
	padding-left: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-top: 0.5rem;
	margin-left: 0.25rem;
	margin-right: 0;
	margin-bottom: 0.5rem;
	border: 0;
	background-color: var(--form-field-color);
	border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	-webkit-border-radius: 5px 0px 0px 5px;
}

#searchButton {
	font-size: 1rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	margin-left: 0;
	border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
}

.jukeboxForm {
	margin-top: 2rem;
}

#currentSongField {
	flex: 1;
	color: var(--form-field-text);
	font-size: 1rem;
	padding-left: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-top: 0.5rem;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
	margin-bottom: 0.5rem;
	border: 0;
	background-color: var(--form-field-color);
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	cursor: default;
}

#audioControlContainer {
	display: flex;
}

.buttonContainer {
	padding-top: 24rem;
	padding-bottom: 5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	display: flex;
	max-width: 36rem;
	margin: 0 auto;
}

/* dynamically generated content styling (albums section) **********************************************************/

#searchResultsContainer {
	background-color: white;
	padding-bottom: 5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	text-align: center;
}

.albumCover {
	width: 100%;
	border-radius: 5px;
	margin-bottom: 1rem;
}

.songContainer {
	text-align: left;
	font-family: Helvetica;
	color: var(--main-text-color);
	font-size: 0.8rem;
	padding: 1.5rem;
	width: 15rem;
	display: inline-flex;
	flex-direction: column;
	animation: fadeIn .3s linear;
}

.songContainer:hover {
	color: var(--song-container-hover-text-color);
	background-color: #e6e6e6;
	border-radius: 5px;
	cursor: pointer;
}

.trackNumber {
	display: inline-block;
	margin-bottom: 0.2rem;
}

.songTitle {
	font-size: 1.2rem;
	display: inline-block;
	margin-bottom: 1rem;
}

.activeSongContainer {
	color: var(--primary-color);
	outline: 0.2rem solid var(--primary-color);
	border-radius: 5px;
	position: relative;
	z-index: 1;
}

.activeSongContainer:hover {
	color: var(--primary-color);
	background-color: white;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* media queries ******************************************************************************************************/

@media screen and (max-width: 500px) {
	.textFieldContainer {
		display: block;
		padding-left: 0.25rem;
		padding-right: 0.25rem;
	}

	#artistName,
	#searchButton,
	#currentSongField {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		border-radius: 5px 5px 5px 5px;
		-moz-border-radius: 5px 5px 5px 5px;
		-webkit-border-radius: 5px 5px 5px 5px;
	}

	.formsWrapper {
		border-radius: 0px 0px 30px 30px;
		-moz-border-radius: 0px 0px 30px 30px;
		-webkit-border-radius: 0px 0px 30px 30px;
	}
}
